numpy>=1.25.0  # Versão mais nova, compatível
pandas>=2.1.0
scikit-learn>=1.3.0
joblib>=1.3.0


matplotlib>=3.8.0
seaborn>=0.13.0

tensorflow>=2.15.0

keras>=3.0.0  
reportlab>=4.0.0  

tensorflow>=2.15.0 
reportlab>=4.0.0
Pillow>=10.1.0  
h5py>=3.10.0 